# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Databases
*.sqlite3
*.db
# *.duckdb
# *.duckdb.wal

# Logs
*.log

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
