fastapi
uvicorn
requests
pydantic
python-multipart
ipython
ipywidgets
annotated-types
anyio
asttokens
click
comm
decorator
executing
h11
idna
jedi
jupyterlab-widgets
markdown-it-py
matplotlib-inline
mdurl
parso
pexpect
prompt-toolkit
ptyprocess
pure-eval
pydantic-core
pygments
rich
shellingham
sniffio
stack-data
starlette
traitlets
typer
typing-extensions
typing-inspection
wcwidth
widgetsnbextension
pytest-asyncio
duckdb
websockets
pydantic-settings
