annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
certifi==2025.7.14
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
comm==0.2.2
decorator==5.2.1
deptry==(!)
executing==2.2.0
fastapi==(!)
filelock==3.18.0
fsspec==2025.7.0
h11==0.14.0
httpcore==0.16.3
httpx==(!)
idna==3.10
iniconfig==2.1.0
ipython==8.37.0
ipywidgets==(!)
jedi==0.19.2
jinja2==3.1.6
jupyterlab-widgets==3.0.15
llvmlite==0.44.0
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.6
openai-whisper==(!)
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pluggy==1.6.0
prompt-toolkit==3.0.51
ptyprocess==0.7.0
pure-eval==0.2.3
pydantic==2.11.7
pydantic-core==2.33.2
pygments==2.19.2
pytest==(!)
regex==2024.11.6
requests==2.32.4
rfc3986==1.5.0
rich==14.0.0
ruff==(!)
scipy==(!)
shellingham==1.5.4
sniffio==1.3.1
stack-data==0.6.3
starlette==0.47.2
sympy==1.14.0
tiktoken==0.9.0
torch==(!)
tqdm==4.67.1
traitlets==5.14.3
triton==2.3.1
typer==(!)
typing-extensions==4.14.1
typing-inspection==0.4.1
urllib3==2.5.0
uvicorn==(!)
wcwidth==0.2.13
widgetsnbextension==4.0.14
